@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,900;1,900&display=swap');

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  background-color: rgb(42, 42, 43);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: background-color 0.5s ease-in-out;

  font: small-caps bold 24px/1 sans-serif;
  font-size: large;
}

.scrolled {
  background-color: rgba(42, 42, 43, 0.5);
}

nav ul li {
  color: #ffffff;
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

/* text menu */
nav ul li a {
  color: #ffffff;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}