.home {
    width: 100%;
    min-height: 96vh;
    font: 1.2rem "Fira Sans", sans-serif;
    font-size: clamp(2rem, 6vw, 3rem);
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}
