.mywork div{
    background-color: rgb(42, 42, 43);
}
.mywork
{
    margin: 0 auto;
    height: 100vh;
}
.Header-MyWork {
    color: rgba(255, 255, 255, 0.822);    
    margin-right: 25px;
}
.slick-slide > div{
    margin: 0 10px;
}
.cardGrid{
    padding-top: 50px;
}