section .mywork
{
    width: 100%;
    height: 100%;
    font: 1.2rem "Fira Sans", sans-serif;
    background-color:#1E201E;
    font-size: 48px;
}
.mywork
{
    margin: 0 auto;
}
.Header-MyWork {
    color: rgba(255, 255, 255, 0.822);    
    margin-right: 25px;
}
div .slide-Card{
    overflow: hidden;
    margin: auto;
}
div .card{
    width: 250dvh;
}
div .card-Inside{
    height:70dvh;
    background: rgba(255, 255, 255, 0.342);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
div .card-status{
    margin-top: 0px;

    text-align: center;
    font-size: 30px;
    color: rgba(248, 248, 248, 0.822);    
}
div .card-Img{
    height: 40dvb;

    background: rgba(0, 0, 0, 0.87);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div .card-dis{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 4;
    overflow-wrap: break-word;
}
div .card-Name{
    color: rgba(248, 248, 248, 0.822);    
    
    font-size: 50%;
    overflow-wrap: break-word;
}
div .card-disc{
    text-align: center;
    margin: 10px;
    color: rgba(248, 248, 248, 0.822);      
    font-size: 20px;
}
.card-button{
    margin-top: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;

    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);

    border-radius: 20px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}
.card-button:hover{
    background: rgba(0, 0, 0, 0.44);
}

a{
    text-decoration: none;
}
.card-img-in{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
}
.card-img-in-youtube{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50dvb;
    height: 30dvb;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
}
.slick-slide > div{
    margin: 0 10px;
}