@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,900;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(Image/MyPhoto.jpg);
  /* background pic */
  background-size: cover;
  background-position: center;
}

.header{
  background-color: rgb(42, 42, 43);
}

div .github-Calender{
  margin: 29% 10%;
  z-index: 1;
  width: 45%;
  color: white;
  font: small-caps bold 24px/1 sans-serif;
  position: sticky;
  /* margin-left: 850px; */
}
div .calender-BG{
  background: rgba(0, 0, 0, 0.52);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  font: small-caps bold 24px/1 sans-serif;
  font-size: large;
  padding: 10px 10%;
}

.header-text {
  margin: 30px 0px;
  font: small-caps bold 24px/1 sans-serif;
  margin-right: 30%;
  font-size: 30px;
  color: #ffffff;
}

.header-text p {
  font-size: 30px;
}

.header-text h1 {
  margin: 30px 0px;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 40px;
  font: small-caps bold 24px/1 sans-serif;
}

.header-text h1 span {
  color: rgb(252, 199, 26);
  font-size: 40px;
  font: small-caps bold 24px/1 sans-serif;

  font-weight: bold;
}

.header-bottom-link {
  position: absolute;
  top: 92%;
}

.header-bottom-link img {
  border-radius: 20px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 5px;
}

